* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.row {
  display        : flex;
  justify-content: center;
  align-items    : stretch;
  flex-wrap      : nowrap;
  padding        : 25px;
  width          : 100%;
}

.cell {
  min-height: 75px;
  flex-grow : 1;
  flex-basis: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin         : 0;
  justify-content: center;
  align-items    : center;
}

#img-div {
  display  : flex;
  flex-flow: column;
  position : relative;
}

#image {
  flex           : 0 1;
  justify-content: center;
}

#iiai {
  padding: 20px 20px 20px 20px;
}

#main {
  min-height           : 100vh;
  background-image     : -webkit-linear-gradient(90deg, rgb(56, 115, 103) 0%, rgb(177, 176, 239) 99.3197%);
  background-repeat    : repeat;
  background-position  : left top;
  background-attachment: scroll;
  background-size      : auto;
}

#firstHeading {
  margin: 21.44px 0 40px 0;
}

#container {
  padding: 10px 10px 10px 10px;
}

@media (max-screen:900) {
  .row {
    flex-wrap: wrap;
  }

  .cell {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }
}
